*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*grid*/

    .contenedor-index {
        display: grid;
        grid-template-columns: 500px 500px auto;
        grid-template-rows: 500px ;
        grid-template-areas:
        "header"
        "nav"
        "main"
        "footer"
    ;
    }

    header{
        grid-area: header;
        display: flex;
        background-color:rgba(255, 0, 157, 0.562) ;
    }
    
    nav{
        grid-area: nav;
        display: flex;
        position: sticky;
    }

    main{
        grid-area: main;
        background-color: crimson;
        width: 100%;
    }
    
    footer{
        grid-area: footer;
        display: flex;
        width: 100%;
        align-items: center;
        background-color:rgba(255, 0, 157, 0.562) ;
    }
    
    @media screen and (max-width: 500px) {
        
        .contenedor-index{
            max-width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }

        .container{
            width: 80vw;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        body {
            max-width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        ul{
            width: 80vw;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .container-ubicacion{
            max-width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .header-nav{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }

        .item-1{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        } 

        .section1{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .section2{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .galeria{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .footer-index p {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
        }

        .main-contacto{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

        }

    }
        
        @media screen and (max-width: 768px) {
        .header-nav{
            max-width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        ul{
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .lista{
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .logo{
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .contenedor-index{
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .galeria{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        }

    

/* corresponde a index*/

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#3CF0BE;
    margin-left: 10px;
}

.header-nav li{
    padding: 10px;
    margin: 10px;
    border: solid 2px;
    border-radius: 10px;
    display: inline;
    margin-top: 10px ;
}

.section1{
    height: 250px;
    width: 400px;
    background-color: rgba(255, 0, 157, 0.562);
    border: 3px solid black;
    text-align: center;
    flex-direction: column;
}

.section2{
    height: 250px;
    width: 400px;
    background-color: rgba(255, 0, 157, 0.562);
    border: 3px solid black;
    text-align: center;
    flex-direction: column;
    display: table;
}

.cajita-img{
    height: 100%;
    width: 100%;
    border: solid black;
}


ul{
    list-style: none;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold; 
    padding: 10px; 
}

li:hover {
    background-color:rgb(255, 255, 255) ;
}

main{
    align-items: center;
}

footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.iconos-img{
    height: 60px;
    width: 60px;
    padding: 10px;
} 

.logo{
    height: 80px;
    width: 80px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
}
    

/*aqui comienza la seccion informacion*/

.header-nav{
    display: flex
    }


.cajita-info{
    height: 450px;
    width: 80%;
    background-color: rgba(255, 0, 157, 0.562);
    border: solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.iconos-img{
    height: 60px;
    width: 60px;
    padding: 10px;
} 

.logo{
    height: 80px;
    width: 80px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
}

/*aqui comienza la seccion galeria*/

.iconos-img{
    height: 60px;
    width: 60px;
    padding: 10px;
} 


.logo{
    height: 80px;
    width: 80px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
}


h1 h2 h3{
    text-align: center;
}

/* aqui comienza la seccion ubicacion*/

.sucursal-1 {
    height: 340px;
    width: 420px;
    font-weight: bold;
    background-color: rgba(255, 0, 157, 0.562);;
    border: 3px solid black;
}

.sucursal-2 {
    height: 340px;
    width: 420px;
    font-weight: bold;
    background-color:rgba(255, 0, 157, 0.562); ;
    border: 3px solid black;
    margin-top: 10px;
}

.sucursal-3 {
    height: 340px;
    width: 420px;
    font-weight: bold;
    background-color:rgba(255, 0, 157, 0.562) ;
    border: 3px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

iframe{
    padding: 5px;
    margin-left: 5px;
}

a{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold; 
    padding: 10px; 
}

li:hover {
    background-color:rgb(255, 255, 255);
}



footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.iconos-img{
    height: 60px;
    width: 60px;
    padding: 10px;
} 

.logo{
    height: 80px;
    width: 80px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
}

/*aqui comienza la seccion contacto*/

.caja-mail{
    height: 55px;
    width: 300px;
    background-color: rgba(255, 0, 157, 0.562);
    border: solid black;
    margin-bottom: 10px;
}

.caja-telefono{
    height: 50px;
    width: 220px;
    background-color:rgba(255, 0, 157, 0.562) ;
    border: solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.caja-redes{
    width: 200px;
    background-color: rgba(255, 0, 157, 0.562);
    border: solid black;
    margin-top: 10px;
}

.caja-form1{
    display: flex inline;
    height: 30px;
    width: 370px;
    background-color:rgba(255, 0, 157, 0.562) ;
    border: solid black;
    margin-top: 10px;
}

.caja-form2{
    height:30px;
    width: 370px ;
    background-color:rgba(255, 0, 157, 0.562) ;
    border: solid black;
    margin-top: 10px;
}

.caja-form3{
    height:30px;
    width: 375px ;
    background-color:rgba(255, 0, 157, 0.562) ;
    border: solid black;
    margin-top: 10px;
}

.iconos-img{
    height: 60px;
    width: 60px;
    padding: 10px;
} 

.logo{
    height: 80px;
    width: 80px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
}
p{
    padding: 5px;
}

/*animaciones*/

footer{
    height: 80px;
    width: 100vw;
    animation-name: MiAnimacion;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

header{
    width: 100vw;
    animation-name: MiAnimacion;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes MiAnimacion {
    0%{background-color: #3CF0BE;}
    50%{background-color: rgba(255, 0, 157, 0.562);}
    100%{background-color: blueviolet;}
}