<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Galeria de fotos de los eventos disponibles">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="./styles.scss">
    <title>Superentradas ~ Galeria de imagenes</title>
</head>
<body>
    <header>
        <nav class="header-nav">
        <div>
            <a href="/index.html"></a>
            <img class="logo" src="../images-desafio/logo-png.png" alt="logo de la empresa">
        </div>
             <ul>
                 <li> <a href="../index.html"> inicio </a> </li>
                 <li> <a href="/views/informacion.html"> informacion </a> </li>
                 <li> <a href="/views/galeria.html"> galeria </a> </li>
                 <li> <a href="/views/ubicacion.html"> ubicacion </a> </li>
                 <li> <a href="/views/contacto.html"> contacto </a> </li>
             </ul>
            </nav>
    </header>
    <main class="galeria">
            <h1> Galeria de imagenes </h1>
        <h2> Musica </h2>
            <h3> Bad Bunny worlds hottest tour </h3>
        <div>
            <img class="cajita-img" src="../images-desafio/badbunny-1.jpg" alt="cartelera Bad Bunny">
        </div>
        <h2> Infantiles </h2>
            <h3> Carozo y narizota </h3>
        <div>
            <img class="cajita-img" src="../images-desafio/carozo-narizota.png" alt="cartelera carozo y narizota">
        </div>
        <h2> Teatro </h2>
            <h3> RodriguezGalati Modo cochino </h3>
        <div>
            <img class="cajita-img" src="../images-desafio/modo-cochino1.jpg" alt="cartelera RodriguezGalati">
        </div>
        <h2> Deportes </h2>
            <h3> Boca Jrs vs River PLate</h3>
        <div>
            <img class="cajita-img" src="../images-desafio/boca-river1.jpg" alt="cartelera Boca vs River">
        </div>
        
    </main>
    <footer>
        <p> Creado por Ivan Torrents </p>
        <p> Redes sociales </p>
        <img class="iconos-img" src="../images-desafio/icono-face.png" alt="icono de facebook"><img class="iconos-img" src="../images-desafio/icono-ig.png" alt="icono de instagram"><img class="iconos-img" src="../images-desafio/icono-wpp.png" alt="icono de whatsapp">
    </footer>
</body>
</html>