<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="informacion acerca del evento principal">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="./styles.scss">
    <title> Superentradas ~ Informacion </title>
</head>
<body>
    <header>
        <nav class="header-nav">
            <div>
                <a href="/index.html"></a>
                <img class="logo" src="../images-desafio/logo-png.png" alt="logo de la empresa">
            </div>
             <ul>
                 <li> <a href="../index.html"> inicio </a> </li>
                 <li> <a href="/views/informacion.html"> informacion </a> </li>
                 <li> <a href="/views/galeria.html"> galeria </a> </li>
                 <li> <a href="/views/ubicacion.html"> ubicacion </a> </li>
                 <li> <a href="/views/contacto.html"> contacto </a> </li>
             </ul>
        </nav>
    </header>
    <main>
        <div class="container">
        <div class="cajita-info">
            <h3>Acerca de nosotros</h3>
            <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod error fuga doloribus possimus voluptatum tenetur esse illo asperiores porro eos corrupti, architecto quae, repudiandae ad officia sapiente sequi impedit perspiciatis rerum minima ipsam amet laboriosam? Maiores ullam, asperiores expedita assumenda deserunt inventore? Vero modi magni reprehenderit aperiam deserunt officiis nisi quo molestiae eligendi, repellat enim illum distinctio odit, labore accusantium autem voluptas dolorum, sed aliquam incidunt sapiente rem placeat adipisci. Quam aliquid, molestiae perferendis voluptates
            </p>
        </div>
        <div class="cajita-info">
            <h3>Como comprar tu entrada</h3>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, molestias. Vel, porro. Quas tempore, quibusdam nostrum repellendus error, mollitia dolores numquam iste beatae, illo ullam maiores fugit. Ducimus fugit officia et possimus ea iusto praesentium sequi iure ratione harum. Quo minima fuga quisquam ipsam autem deserunt soluta veniam ex sed, nisi consequuntur iure, eligendi quam ab, eum inventore nostrum pariatur cumque vero sunt hic nemo. Dignissimos illum eaque harum repellendus libero ipsum error quod qui maiores suscipit delectus officia dolores nulla, officiis inventore corrupti architecto modi obcaecati.
            </p>
        </div>
        </div>
    </main>
    <footer>
        <p> Creado por Ivan Torrents </p>
        <p> Redes sociales </p>
        <img class="iconos-img" src="../images-desafio/icono-face.png" alt="icono de facebook"><img class="iconos-img" src="../images-desafio/icono-ig.png" alt="icono de instagram"><img class="iconos-img" src="../images-desafio/icono-wpp.png" alt="icono de whatsapp">
    </footer>

    
</body>
</html>