footer{  
    width: 100vw;
    animation-name: MiAnimacion;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
}

header{
    width: 100vw;
    animation-name: MiAnimacion;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}