footer{  
    width: 100vw;
    animation-name: MiAnimacion;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
}

header{
    width: 100vw;
    animation-name: MiAnimacion;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes MiAnimacion {
    0%{background-color: $primary-color;}
    50%{background-color: $cajitas-color;}
    100%{background-color: blueviolet;}
}