.logo{
    height: 80px;
    width: 80px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
}

.cajita-img{
    height: 100%;
    width: 80%;
    border: solid black;
}


h1 , h2, h3{
    text-align: center;
    background-color: cyan;
    margin-top: 10px;
}

.galeria{
    text-align: center;
}

