@media screen and (max-width: 500px) {

    .contenedor-index{
        min-width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body {
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    ul{
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-ubicacion{
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .navbar-brand{
        align-items:flex-end;
        padding-top: 20px;
    }

    nav{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .item-1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    } 

    .section1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .section2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .galeria{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-index p {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .main-contacto{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }

    
    .sucursal-1{
        width: 80%;
    }
}
    
    @media screen and (max-width: 768px) {
    header{
        display: flex;
        align-items: center;
        flex-direction: column;


        ul{
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    body {
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .lista{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor-index{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .navbar-brand{
        align-items:flex-end;
        padding-top: 20px;
    }

    .galeria{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: normal;
        text-align: center;
    }

    .sucursal-1{
        width: 80%;
    }

    }