$primary-color: rgb(205, 202, 202);
$secondary-color: black;
$cajitas-color: rgb(205, 202, 202);


@mixin estiloSection () {
    height: 250px;
    width: 400px;
    padding: 15px;
    background-color: $cajitas-color;
    border: 3px solid black;
    text-align: center;
    flex-direction: column;
}

@mixin estiloFormularios ($width) {
    height: 30px;
    width: $width;
    background-color:$cajitas-color ;
    border: solid black;
    margin-top: 10px;
}

@mixin flexin($display, $justify-content, $align-items) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}

$margin: (
    m-bottom: 10px,
    m-top: 10px,
);